<h1 class="display-4 mb-4">New Certificate</h1>
<div class="row">
  <div class="col">
    <p>Are you sure you want to create a new certificate?</p>

    <% if @akash.wallet.certificate.exists? %>
      <p><strong>Certificate already exists and will be lost!</strong></p>
    <% end %>

    <%= form_for :certificate, url: certificate_path do |f| %>
      <% if @akash.wallet.certificate.exists? %>
        <%= f.submit 'Create', data: {confirm: 'Your existing certificate will be lost. Are you sure?'}, class: 'btn btn-primary' %>
      <% else %>
        <%= f.submit 'Create', class: 'btn btn-primary' %>
      <% end %>
    <% end %>
  </div>
  <div class="col">
  </div>
</div>
