<% services.each do |service| %>
  <tr>
    <td><%= service.name %> status</td>
    <td><%= "#{service.available} / #{service.total}" %></td>
  </tr>
  <tr>
    <td><%= service.name %> URIs</td>
    <td>
      <% service.uris.each do |uri| %>
        <%= link_to uri.host, uri.to_s, target: :blank, class: 'small' %>
      <% end %>
    </td>
  </tr>
<% end %>
