<h1 class="display-4 mb-4">Update Deployment #<%= @deployment.dseq %></h1>
<div class="row">
  <div class="col">
    <p>Are you sure you want to update this deployment?</p>

    <%= render "form" %>
  </div>
  <div class="col">
  </div>
</div>
