<h1 class="display-4 mb-4">New Deployment</h1>
<div class="row">
  <div class="col">
    <p>Are you sure you want to create a new deployment?</p>

    <%= render "form" %>
  </div>
  <div class="col">
  </div>
</div>
