<p>Address: <%= wallet.address %></p>
<p>
  Balance:
  <% if wallet.balances.empty? %>
    0
  <% else %>
    <% wallet.balances.each do |balance| %>
      <%= format_balance(balance) %><br />
    <% end %>
  <% end %>
</p>
<p>Keplr Address: <span id="keplraddress">none</span></p>
<p>Keplr Balance: <span id="keplrbalance">0</span></p>

<% if false %>
<input id="topupvalue" value="amount"/>
<button id="topup" onClick=send(amount, receivingaddress)
<% end %> 
