<p>Address: <%= wallet.address %></p>
<p>
  Balance:
  <% if wallet.balances.empty? %>
    0
  <% else %>
    <% wallet.balances.each do |balance| %>
      <%= format_balance(balance) %><br />
    <% end %>
  <% end %>
</p>
