<p>Address: <span id="deployaddress"><%= wallet.address %></span></p>
<p>
  Balance:
  <% if wallet.balances.empty? %>
    0
  <% else %>
    <% wallet.balances.each do |balance| %>
      <%= format_balance(balance) %><br />
    <% end %>
  <% end %>
</p>
<p>Keplr Address: <span id="keplraddress"></span></p>
<p>Keplr Balance: <span id="keplrbalance"></span></p>
<button onClick="startup()" class="btn btn-primary">Keplr Login</button>

